.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
  }

  .home-categories {
    text-align: center;
    padding: 15px 0 10px 0;
    font-size: 22px;
    font-weight: 700;
    color: #8c3521;
    text-decoration: underline;
  }